<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row" *ngFor="let user of usuario">
      <div class="col-lg-6 d-flex flex-column justify-content-center text-center">
        <h1 data-aos="fade-up">{{user.nombres}} {{user.apellidos}}</h1>
        <div class="row">
          <div class="col-md-6 text-center">
            <h2 data-aos="fade-up" data-aos-delay="400">ROL: &nbsp; <b>{{user.Rol.nombre.toUpperCase()}}</b></h2>
          </div>
          <div class="col-md-6 text-center">
            <h2 data-aos="fade-up" data-aos-delay="400">DUI: &nbsp; <b>{{user.dui}}</b></h2>
          </div>
        </div>


        <h2  class="badge {{getClassForEstado(user.estado)}}">{{user.usuario}}&nbsp;-&nbsp;{{convertStatus(user.estado)}}</h2>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="../../../../../assets/images/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
