<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size = "medium" color = "transparent" [fullScreen] = "true">
    <lottie-player style="margin-top:-30px;" src="https://assets5.lottiefiles.com/private_files/lf30_tcux3hw6.json"  background="transparent"  speed="1"  style="width: 250px; height: 250px;"  loop  autoplay></lottie-player>
  </ngx-spinner>

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/permisos/view">Permission</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{this.title}}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
          <h6 class="card-title">Information of the Permission</h6></div>
            <form [formGroup]="form" (ngSubmit)="savePermission()">
              <div class="row">

                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Module</label>
                        <ng-select [items]="module"
                            bindLabel="mod_nombre"
                            bindValue="mod_id"
                            class="data-ng-select"
                            [ngModelOptions]="{standalone: true}"
                            placeholder="type to search"
                            [(ngModel)]="selectedSearchModuleId">
                        </ng-select>
                    </div>
                </div>

                <div class="col-sm-6">
                  <div class="mb-3">
                    <label class="form-label">Role</label>
                    <input type="text" class="form-control" [placeholder]="this.rol_name" name="rol_id" id="rol_id" disabled>
                  </div>
                </div>

                 
              </div>
              <button [disabled]="!form.valid" (click)="onSubmit()" type="submit" class="btn btn-primary submit">{{this.title}} <i class="mdi mdi-file-document-edit"></i> </button>
              <button id="_btn-back" [routerLink]="['/permisos/view', this.type]" type="submit" name="submitButton" class="btn">Go Back <i class="mdi mdi-arrow-left"></i> </button>
            </form>
        </div>
      </div>
    </div>
</div>


