<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Panel</a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="headercard">
        <h5 id="_title-header-h5">Lista de Usuarios</h5>
        <div class="btn-text-right headercard">
          <button *ngIf="create == 1" status="success" id="_btn-success" routerLink="/users/add"
              class="dt-button create-new btn btn-primary ml-2" tabindex="0" aria-controls="DataTables_Table_0"
              type="button">
              <span class="d-none d-sm-inline-block"><i class="mdi mdi-plus"></i> Agregar Usuario</span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive table table-hover mb-0">
          <p-table #dt class="data-config-header" [value]="users" dataKey="id" [rowHover]="true" [rows]="100"
            [showCurrentPageReport]="true" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
            [globalFilterFields]="['user_id','first_name','last_name','username', 'email', 'phone_number', 'tbl_language.language_name', 'tbl_role.rol_rol']">

            <ng-template pTemplate="caption">
              <div class="table-header">
                Buscar Usuario
                <span class="p-input-icon-left">
                  <div class="btn-text-right">
                    <input pInputText type="text" class="form-control" id="_bck-color"
                      (input)="applyFilterGlobal($event, 'contains')" />
                  </div>
                </span>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="user_id" style="min-width: 6rem">
                  <div class="flex justify-content-between align-items-center">
                    Id
                    <p-sortIcon field="user_id"></p-sortIcon>
                  </div>
                </th>

                <th pSortableColumn="first_name" style="min-width: 12rem">
                  <div class="flex justify-content-between align-items-center">
                    Usuario
                    <p-sortIcon field="first_name"></p-sortIcon>
                  </div>
                </th>



                <th pSortableColumn="rol_id" style="min-width: 10rem">
                  <div class="flex justify-content-between align-items-center">
                    Rol
                    <p-sortIcon field="rol_id"></p-sortIcon>
                  </div>
                </th>

                <th pSortableColumn="status" style="min-width: 10rem">
                  <div class="flex justify-content-between align-items-center">
                    Status
                    <p-sortIcon field="rol_id"></p-sortIcon>
                  </div>
                </th>

                <th style="min-width: 09rem" *ngIf="deleted == 1 || update == 1">
                  <div class="flex justify-content-between align-items-center">
                    Acciones
                  </div>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-users>
              <tr class="p-selectable-row">

                <td>
                  <span class="rounded-pill">&nbsp; {{users.user_id}} &nbsp;</span>
                </td>
                <td>
                  <i class="mdi mdi-account-circle"></i>
                  {{users.first_name}} {{users.last_name}}
                </td>

                <td>
                  <i class="mdi mdi-account-key"></i>
                  {{users.tbl_role.rol_rol}}
                </td>
                <td>
                  <span
                    class="badge {{
                      getClassBasedOnStatus(users.status)
                    }}"
                  >
                  {{this.convertStatus(users.status)}}</span>
                </td>
                <td style="text-align: left; margin-left: -5px;" *ngIf="deleted == 1 || update == 1">
                  <a (click)="viewUsersModal(contentView, users.user_id)" class="p-button p-button-rounded p-button-primary"
                    style="margin-left: -8px;"><i class="mdi mdi-card-account-details"></i></a>&nbsp;
                  <a *ngIf="deleted == 1" (click)="deleteUserModal(contentDelete, users.user_id)" class="p-button p-button-rounded p-button-warning"
                   ><i class="mdi mdi-trash-can-outline"></i></a>&nbsp;
                  <a *ngIf="update == 1" [routerLink]="['/users/edit', users.user_id]" class="p-button p-button-rounded p-button-success"><i
                      class="mdi mdi-pencil"></i></a>
                </td>
              </tr>

              <ng-template #contentView let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Usuario</h4>
                </div>
                <div class="modal-body">
                  <div class="usercard_body">
                    <header class="usercard_header">
                      <img src= {{users.user_images}}
                        class="usercard_user" alt="User">
                      <div class="usercard_header-info">
                        <h3 class="usercard_name">{{users.first_name}} <span
                            class="usercard_name-label">{{users.last_name}}</span></h3>
                        <span class="usercard_post">{{users.tbl_role.rol_rol}}</span>
                        <span class="usercard_post">Cumpleaños: 🎂 {{users.birthdate}} 🎉</span>
                      </div>
                    </header>
                    <div class="usercard_content">
                      <div class="usercard_stats">
                        <div class="stats usercard_stats-item">
                          <i class="mdi mdi-web iconmodal"></i>
                          <div class="stats_info usercard_stats-info">
                            <span class="stats_name usercard_stats-name">Idioma</span>
                            <span class="stats_value">{{users.tbl_language.language_name}}</span>
                          </div>
                        </div>
                        <div class="stats usercard_stats-item">
                          <i class="mdi mdi-email iconmodal"></i>
                          <div class="stats_info usercard_stats-info">
                            <span class="stats_name usercard_stats-name">Email</span>
                            <a href="mailto:{{users.email}}?Subject=Hello, {{users.first_name}}">{{users.email}}</a>
                          </div>
                        </div>
                        <div class="stats usercard_stats-item">
                          <i class="mdi mdi-phone iconmodal"></i>
                          <div class="stats_info usercard_stats-info">
                            <span class="stats_name usercard_stats-name">Telefono</span>
                            <span class="stats_value">{{users.phone_number}}</span>
                          </div>
                        </div>
                        <div class="stats usercard_stats-item">
                          <i class="mdi mdi-account iconmodal"></i>
                          <div class="stats_info usercard_stats-info">
                            <span class="stats_name usercard_stats-name">Estado</span>
                            <span class="stats_value" >{{this.convertStatus(users.status)}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button id="_btn-back" routerLink="/users/view" type="submit" name="submitButton" class="btn"
                    (click)="d('Cross click')">Regresar</button>
                  <a [routerLink]="['/users/edit', users.user_id]" class="btn btn-sm btn-icon item-edit"
                    (click)="d('Cross click')">Editar</a>
                </div>
              </ng-template>
            </ng-template>

            <ng-template pTemplate="emptymessage">

              <tr>
                <td colspan="8">Usuario no encontrado</td>
              </tr>
            </ng-template>

            <ng-template #contentDelete let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Confirmacion</h4>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de eliminar este usuario?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancelar</button>
                <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Eliminar</button>
              </div>
            </ng-template>
