<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Assign Appointment
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
        <h6 class="card-title">Information of the Installers</h6></div>
      <div class="card-body">
        <div class="table-responsive table table-hover mb-0">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="firstName1">Appointment Provider</label>
                <input type="text" class="form-control" id="firstName1" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label for="lastName1">Source</label>
                <input type="text" class="form-control" id="lastName1" placeholder="Source" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Campaign Name</label>
                <input type="text" class="form-control" id="userName1" placeholder="Campaign Name" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label for="firstName1">Ad Name</label>
                <input type="text" class="form-control" id="firstName1" placeholder="Ad Name" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label for="lastName1">Ad Set Name</label>
                <input type="text" class="form-control" id="lastName1" placeholder="Ad Set Name" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Project Manager</label>
                <input type="text" class="form-control" id="userName1" placeholder="Project Manager" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label for="firstName1">Agent who made the appointment</label>
                <input type="text" class="form-control" id="firstName1" placeholder="Agent who made the appointment" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label for="lastName1">Appointment Outcome</label>
                <input type="text" class="form-control" id="lastName1" placeholder="Appointment Outcome" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Customer's First Name</label>
                <input type="text" class="form-control" id="userName1" placeholder="Customer's First Name" readonly>
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Customer's Last Name</label>
                <input type="text" class="form-control" id="userName1" placeholder="Customer's Last Name" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Customer's Full Name</label>
                <input type="text" class="form-control" id="userName1" placeholder="Customer's Full Name" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Customer's Language</label>
                <input type="text" class="form-control" id="userName1" placeholder="Customer's Language" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Customer's Phone</label>
                <input type="text" class="form-control" id="userName1" placeholder="Customer's Phone" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Address</label>
                <input type="text" class="form-control" id="userName1" placeholder="Address" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">City</label>
                <input type="text" class="form-control" id="userName1" placeholder="City" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">State</label>
                <input type="text" class="form-control" id="userName1" placeholder="State" readonly>
              </div> 
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Zip Code</label>
                <input type="text" class="form-control" id="userName1" placeholder="Zip Code" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Full Address</label>
                <input type="text" class="form-control" id="userName1" placeholder="Full Address" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Bill Amount</label>
                <input type="text" class="form-control" id="userName1" placeholder="Bill Amount" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Credit Score</label>
                <input type="text" class="form-control" id="userName1" placeholder="Credit Score" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Bankrupcy</label>
                <input type="text" class="form-control" id="userName1" placeholder="Bankrupcy" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Utility Bill</label>
                <input type="file" multiple class="form-control" id="userName1" placeholder="Utility Bill" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Account Number</label>
                <input type="text" class="form-control" id="userName1" placeholder="Account Number" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Meter Number</label>
                <input type="text" class="form-control" id="userName1" placeholder="Meter Number" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Meter location</label>
                <input type="text" class="form-control" id="userName1" placeholder="Meter location" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Google Map's Image</label>
                <input type="file"  multiple class="form-control" id="userName1" placeholder="Google Map's Image" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Call Recording</label>
                <input type="file" multiple class="form-control" id="userName1" placeholder="Call Recording" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Current Energy Provider</label>
                <input type="text" class="form-control" id="userName1" placeholder="Current Energy Provider" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Anual Usage</label>
                <input type="text" class="form-control" id="userName1" placeholder="Anual Usage" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Type Roof</label>
                <input type="text" class="form-control" id="userName1" placeholder="Type Roof" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Roof Age (In Years)</label>
                <input type="text" class="form-control" id="userName1" placeholder="Roof Age (In Years)" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Does it require roof replacement?</label>
                <input type="text" class="form-control" id="userName1" placeholder="Does it require roof replacement?" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Appointment Type</label>
                <input type="text" class="form-control" id="userName1" placeholder="Appointment Type" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Appointment Date</label>
                <input type="text" class="form-control" id="userName1" placeholder="Appointment Date" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Appointment Start Time</label>
                <input type="text" class="form-control" id="userName1" placeholder="Appointment Start Time" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Time Zone</label>
                <input type="text" class="form-control" id="userName1" placeholder="Time Zone" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Assign this Appointment to </label>
                <input type="text" class="form-control" id="userName1" placeholder="Assign this Appointment to" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Request for design for this lead</label>
                <input type="text" class="form-control" id="userName1" placeholder="Request for design for this lead" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Any Aditional adders</label>
                <input type="text" class="form-control" id="userName1" placeholder="Any Aditional adders" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Presentation made with </label>
                <input type="text" class="form-control" id="userName1" placeholder="Presentation made with " readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="userName1">Additional agent notes</label>
                <input type="text" class="form-control" id="userName1" placeholder="Additional agent notes" readonly>
              </div>
            </div>
          </div>
      <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-primary" type="button" awNextStep>Continue</button>
      </div>
    

    
 


  

