#_title-header-h5{
	padding: 14px;
	text-align: left;
	margin-top: 11px;
	margin-left: 11px;
}

.headercard{
	background-color: #000432;
	color: #F7F7FC;
	height: 55px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#_div-header{
	text-align: center;
	background-color: #F7F7FC;
}

#_bck-color{
	background-color: #F7F7FC !important;
}

#_title-activity{
	color:#334D6E;
}

#_btn-success{
	border-radius: 12px;
	margin-top: -3px !important;
    margin-right: 35px;
}

.data-config-header ::ng-deep .p-datatable .p-datatable-header{
	background: transparent !important;
	color: #343a40;
	border: 0px solid transparent !important;
	border-width: 1px 0 1px 0;
	padding: 0.7rem 1rem;
	font-weight: 700;
	text-align: end !important;
}

.btn-text-right{
	text-align: end !important;
	margin-top: -1.1cm;
}

.rounded-pill{
	background-color: #6571FF;
	font-weight: bold;
	color: #ffffff;
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
    color: #ffffff;
    background: #F59E0B;
    border: 1px solid #F59E0B;
}

.p-button.p-button-warning, .p-buttonset.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button {
    color: #ffffff;
    background: #c72626;
    border: 1px solid #c72626;
}
.p-button.p-button-icon-only {
    width: 1px;
    padding: 1rem 0;
}
.p-button.p-button-rounded {
    border-radius: 1rem;
}

.p-button-icon-only {
    justify-content: center;
}
.p-button{
	border-radius: 74px;
    width: -1px;
    height: 2px;
}

.user-badge.status-active {
    background: #C8E6C9;
    color: #256029;
	font-weight: bold;
}
  .user-badge.status-inactive{
		background: #FFCDD2;
		color: #c63737;
		font-weight: bold;
	}
	.modaltitle{
		background-color: #000432;
		color: white;
	}

	.cardview{
		text-align: center;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	}

	.labelDetails{
		font-weight: bold;
		justify-content: center;
	}

	.pDetails{
		color: #56a0dd;
		font-weight: bold;
		margin-bottom: 7px;
	}

	img {
		width: 255px;
		height: 183px;
		margin-bottom: 21px;
	 }


