<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size = "medium" color = "transparent" [fullScreen] = "true">
    <lottie-player style="margin-top:-30px;" src="https://assets5.lottiefiles.com/private_files/lf30_tcux3hw6.json"  background="transparent"  speed="1"  style="width: 250px; height: 250px;"  loop  autoplay></lottie-player>
  </ngx-spinner>

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/state/view">State</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{this.title}}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
          <h6 class="card-title">Information of the State</h6></div>
            <form [formGroup]="form" (ngSubmit)="saveState()">
              <div class="row">
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label class="form-label">State name</label>
                    <input type="text" [ngClass]="{ 'is-invalid': submitted && position['name_state'].errors }" formControlName="name_state" name="name_state" id="name_state" onkeydown="return /[a-ñA-ZÑ, ]/i.test(event.key)" class="form-control" placeholder="Enter name">
                    <div *ngIf="submitted && position['name_state']?.errors" class="invalid-feedback">
                        <mat-error *ngIf="position['name_state']?.hasError('required')">Name is required</mat-error>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Abbreviation</label>
                        <input type="text" [ngClass]="{ 'is-invalid': submitted && position['abbreviation'].errors }" formControlName="abbreviation" name="abbreviation" id="abbreviation" onkeydown="return /[a-ñA-ZÑ, ]/i.test(event.key)" class="form-control" placeholder="Enter name">
                        <div *ngIf="submitted && position['abbreviation']?.errors" class="invalid-feedback">
                            <mat-error *ngIf="position['abbreviation']?.hasError('required')">Abbre is required</mat-error>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6">
                      <div class="mb-3">
                        <label class="form-label">Covered Virtually</label>
                        <!-- <input type="text" [ngClass]="{ 'is-invalid': submitted && position['covered_virtually'].errors }" formControlName="covered_virtually" name="covered_virtually" id="covered_virtually" onkeydown="return /[a-ñA-ZÑ, ]/i.test(event.key)" class="form-control" placeholder="Enter name"> --> 
                        <select id="covered_virtually" 
                        name="covered_virtually" 
                        (ngModelChange)="getCoveredV($event)" 
                        [ngModelOptions]="{standalone: true}" 
                        [(ngModel)]="selectedCoveredVirtually" 
                        [ngClass]="{ 'is-invalid': submitted && position['covered_virtually'].errors }" class="form-control">
                            <option *ngFor="let available of availableV" [value]="available.id">{{available.name}}</option>
                        </select>
                        <div *ngIf="submitted && position['covered_virtually']?.errors" class="invalid-feedback">
                            <mat-error *ngIf="position['covered_virtually']?.hasError('required')">Covered Virtually is required</mat-error>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6">
                      <div class="mb-3">
                        <label class="form-label">Covered In Person</label>
                        <!-- <input type="text" [ngClass]="{ 'is-invalid': submitted && position['covered_virtually'].errors }" formControlName="covered_virtually" name="covered_virtually" id="covered_virtually" onkeydown="return /[a-ñA-ZÑ, ]/i.test(event.key)" class="form-control" placeholder="Enter name"> --> 
                        <select id="covered_inperson" name="covered_inperson" (ngModelChange)="getCoveredP($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCoveredInPerson" [ngClass]="{ 'is-invalid': submitted && position['covered_inperson'].errors }" class="form-control">
                          <option *ngFor="let available of availableP" [value]="available.id">{{available.name}}</option>
                        </select>
                        <div *ngIf="submitted && position['covered_inperson']?.errors" class="invalid-feedback">
                            <mat-error *ngIf="position['covered_inperson']?.hasError('required')">Covered In Person is required</mat-error>
                        </div>
                      </div>
                </div>
              </div>
              <button [disabled]="!form.valid" (click)="onSubmit()" type="submit" class="btn btn-primary submit">{{this.title}} <i class="mdi mdi-file-document-edit"></i> </button>
              <button id="_btn-back" routerLink="/state/view" type="submit" name="submitButton" class="btn">Go Back <i class="mdi mdi-arrow-left"></i> </button>
            </form>
        </div>
      </div>
    </div>
</div>

