<div class="main-wrapper">

    <!-- partial:sidebar -->
    <app-sidebar *ngIf="rol == 'root' || rol == 'admin'"></app-sidebar>
    <app-sidebar-presidente *ngIf="rol == 'presidente' || rol == 'secretario' || rol == 'vocal'"></app-sidebar-presidente>
    <!-- partial -->
  
    <div class="page-wrapper">
  
      <!-- partial:navbar -->
      <app-navbar></app-navbar>
      <!-- partial -->
  
      <div class="page-content">
  
        <!-- Spinner for lazyload modules -->
        <div *ngIf="isLoading" class="spinner-wrapper">
          <div class="spinner">Loading...</div>
        </div>
  
        <div contentAnimate *ngIf="!isLoading">
          <router-outlet></router-outlet>
        </div>
  
      </div>
  
      <!-- partial:footer -->
      <app-footer></app-footer>
      <!-- partial -->
  
    </div>
  
  
  </div>