<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Panel</a></li>
    <li class="breadcrumb-item active" aria-current="page">Partidos Politicos</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="headercard">
        <h5 id="_title-header-h5">Partidos Politicos</h5>
        <div class="btn-text-right headercard">
          <button *ngIf="this.statusCentroVotacionBoolean" status="success" id="_btn-success" routerLink="/partidos-politicos/add"
            class="dt-button create-new btn btn-primary ml-2" tabindex="0" aria-controls="DataTables_Table_0"
            type="button">
            <span class="d-none d-sm-inline-block"> <i class="mdi mdi-plus"></i> Agregar Partidos</span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive table table-hover mb-0">
          <div class="container">
            <div class="row">
              <div class="col-sm" *ngFor="let partido of this.partidos_politicos">
                <div class="card-pp">
                  <div class="image-container">
                    <img [src]="'https://evotes-app-administracion.s3.us-west-2.amazonaws.com/' + partido.logo">
                    <div class="price">{{partido.siglas}}</div>
                  </div>

                  <div class="content">
                    <div class="brand">{{partido.estado}}</div>
                    <div class="product-name">{{partido.nombre}}</div>

                  </div>

                  <div class="button-container">
                    <button *ngIf="this.statusCentroVotacionBoolean" class="cart-button button"   [routerLink]="['/partidos-politicos/management', partido.id_partido_politico]">
                      <span class="mdi mdi-eye"></span>
                    </button> &nbsp;
                    <button *ngIf="this.statusCentroVotacionBoolean" class="cart-button button"   (click)="editarPartidoPolitico(contentUpdate, partido.id_partido_politico)">
                      <span class="mdi mdi-pencil"></span>
                    </button>&nbsp;
                    <button *ngIf="this.statusCentroVotacionBoolean" class="cart-button button"   (click)="eliminarPartidoPolitico(partido.id_partido_politico)">
                      <span class="mdi mdi-delete"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ng-template #contentUpdate let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Informacion de Partido Politico</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12 stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <!--  <div class="card-header">
                      <h6 class="card-title">Information of the language</h6></div> -->
                      <form [formGroup]="formEditPartidoPolitico">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="mb-3">
                              <label class="form-label">Nombre del Partido</label>
                              <input type="text"
                                formControlName="nombre" name="nombre" id="nombre" formControlName="nombre" class="form-control">
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="mb-3">
                              <label class="form-label">SIGLAS del Partido</label>
                              <input type="text"
                                formControlName="siglas" name="siglas" id="siglas" formControlName="siglas" class="form-control">
                            </div>
                          </div>
                           <div class="col-sm-12">
                            <div class="mb-3">
                              <label class="form-label">Estado</label>
                              <select [(ngModel)]="opcionSeleccionadaEstado" (ngModelChange)="estadoSeleccionado($event)" formControlName="estado" class="form-select form-control">
                                <option *ngFor="let estado of estados" [value]="estado.id">{{ estado.nombre }}</option>
                              </select>
                            </div>
                          </div> 
                        </div>
                        <button [disabled]="!formEditPartidoPolitico.valid" (click)="GuardarDatosEditadorPartidoPolitico()" type="button" class="btn btn-primary submit">Editar <i
                            class="mdi mdi-file-document-edit"></i></button>&nbsp; 
                          <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancelar</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>