<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size = "medium" color = "transparent" [fullScreen] = "true">
    <lottie-player style="margin-top:-30px;" src="https://assets5.lottiefiles.com/private_files/lf30_tcux3hw6.json"  background="transparent"  speed="1"  style="width: 250px; height: 250px;"  loop  autoplay></lottie-player>
  </ngx-spinner>

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/installers/view">Installers</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{this.title}}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
          <div class="card-header">
          <h6 class="card-title">Information of the Installers</h6></div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="saveInstallers()">
              <div class="row">
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label class="form-label">Installer Name</label>
                    <input type="text" [ngClass]="{ 'is-invalid': submitted && position['epc_name'].errors }" formControlName="epc_name" name="epc_name" id="epc_name" onkeydown="return /[a-ñA-ZÑ, ]/i.test(event.key)" class="form-control" placeholder="Enter name">
                    <div *ngIf="submitted && position['epc_name']?.errors" class="invalid-feedback">
                        <mat-error *ngIf="position['epc_name']?.hasError('required')">First name is required</mat-error>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">State</label>
                        <ng-select [items]="state"
                            bindLabel="name_state"
                            bindValue="state_id"
                            class="data-ng-select"
                            [ngModelOptions]="{standalone: true}"
                            placeholder="type to search"
                            [(ngModel)]="selectedSearchStateId">
                        </ng-select>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label">E-mail</label>
                      <input type="email" [pattern]="emailPattern" [ngClass]="{ 'is-invalid': submitted && position['contact_email'].errors }" formControlName="contact_email" name="contact_email" id="contact_email" class="form-control" placeholder="Enter email">
                      <div *ngIf="submitted && position['contact_email']?.errors" class="invalid-feedback">
                          <mat-error *ngIf="position['contact_email']?.hasError('required')">Email is required</mat-error>
                      </div>
                    </div>
                  </div>

                    <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label">Phone number</label>
                      <input prefix="+1 " mask="(000) 000-0000" [showMaskTyped] = "true" [ngClass]="{ 'is-invalid': submitted && position['installers_phone'].errors }" formControlName="installers_phone" name="installers_phone" id="installers_phone" class="form-control" placeholder="Enter Phone number">
                      <div *ngIf="submitted && position['installers_phone']?.errors" class="invalid-feedback">
                          <mat-error *ngIf="position['installers_phone']?.hasError('required')">Password is required</mat-error>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label">Created By</label>
                      <input type="text" class="form-control" [placeholder]="getName" disabled>
                    </div>
                  </div>

                  <div class="col-md-6 mt-4 fv-plugins-icon-container">
                    <label for="formValidationFile" class="form-label">Installer Image</label>
                    <div class="installer text-center" id="col-img">
                      <div class="profile"> 
                        <div class="row">
                          <div class="col-md-6">
                            <img [src]="url"> 
                          </div>
                          <div class="col-md-9">
                            <div class="form-group">
                              <div class="custom-file" class="btn btn-default button-rounded-36 float-bottom-right img-data">
                                <input (change)="onFileSelect($event)" class="form-control custom-file-input cursor-pointer" id="attachment" name="attachment" type="file" id="formFile">
                              </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
              <button  [disabled]="!form.valid" (click)="onSubmit()" type="submit" class="btn btn-primary submit">{{this.title}} <i class="mdi mdi-file-document-edit"></i> </button>
              <button id="_btn-back" routerLink="/installers/view" type="submit" name="submitButton" class="btn">Go Back <i class="mdi mdi-arrow-left"></i> </button>
            </form>
          </div>
        </div>
      
    </div>
</div>

