.setting ::ng-deep .settings-sidebar .sidebar-body .settings-sidebar-toggler {
    position: absolute;
    left: -44px;
    top: 60px !important;
    padding: 12px;
    border-radius: 13px 0 0 4px;
    background-color: #000432;
    box-shadow: -3px 0 10px 0 rgb(183 192 206 / 20%);
}

#setting-toogle{
    top: 60px !important;
}

