.imgJum{
    width: 401px;
    margin-top: -89px;
    height: 302px;
}
.jumbotron{
    background-image: linear-gradient(to right, #b6bee9, #9ad6f5, #9be9e8, #c3f6d1, #fcfbc5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    background-size: cover;
}
