.data ::ng-deep .fc-daygrid-block-event .fc-event-title {
    padding: 1px;
    color: black !important;
}

.data ::ng-deep .fc-direction-ltr .fc-daygrid-event .fc-event-time {
    margin-right: 3px;
    color: black !important;
}

.data ::ng-deep .fc-event-time{
    color: black !important;
}


