<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="medium"
  color="transparent"
  [fullScreen]="true"
>
  <lottie-player
    style="margin-top: -30px"
    src="https://assets3.lottiefiles.com/packages/lf20_9mUhwZOo8A.json"
    background="transparent"
    speed="1"
    style="width: 250px; height: 250px"
    loop
    autoplay
  ></lottie-player>
</ngx-spinner>

<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Panel</a></li>
    <li class="breadcrumb-item"><a routerLink="/users/view">Usuarios</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ this.title }}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <h6 class="card-title">Informacion de Usuario</h6>
        </div>
        <form [formGroup]="form" (ngSubmit)="saveUsers()">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid': submitted && position['first_name'].errors
                  }"
                  formControlName="first_name"
                  name="first_name"
                  id="first_name"
                  onkeydown="return /[a-ñA-ZÑ, ]/i.test(event.key)"
                  class="form-control"
                  placeholder="Enter name"
                />
                <div
                  *ngIf="submitted && position['first_name']?.errors"
                  class="invalid-feedback"
                >
                  <mat-error
                    *ngIf="position['first_name']?.hasError('required')"
                    >First name is required</mat-error
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid': submitted && position['last_name'].errors
                  }"
                  formControlName="last_name"
                  name="last_name"
                  id="last_name"
                  onkeydown="return /[a-ñA-ZÑ, ]/i.test(event.key)"
                  class="form-control"
                  placeholder="Enter last name"
                />
                <div
                  *ngIf="submitted && position['last_name']?.errors"
                  class="invalid-feedback"
                >
                  <mat-error *ngIf="position['last_name']?.hasError('required')"
                    >Name is required</mat-error
                  >
                </div>
              </div>
            </div>


            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Fecha de Nacimiento</label>
                <input
                  type="date"
                  [ngClass]="{
                    'is-invalid': submitted && position['birthdate'].errors
                  }"
                  formControlName="birthdate"
                  name="birthdate"
                  id="birthdate"
                  onkeydown="return /[a-ñA-ZÑ, ]/i.test(event.key)"
                  class="form-control"
                  placeholder="Enter last name"
                />
                <div
                  *ngIf="submitted && position['birthdate']?.errors"
                  class="invalid-feedback"
                >
                  <mat-error *ngIf="position['birthdate']?.hasError('required')"
                    >Birthdate is required</mat-error
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid': submitted && position['username'].errors
                  }"
                  formControlName="username"
                  name="username"
                  id="username"
                  class="form-control"
                  placeholder="Enter username"
                />
                <div
                  *ngIf="submitted && position['username']?.errors"
                  class="invalid-feedback"
                >
                  <mat-error *ngIf="position['username']?.hasError('required')"
                    >Username is required</mat-error
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input
                  type="email"
                  [pattern]="emailPattern"
                  [ngClass]="{
                    'is-invalid': submitted && position['email'].errors
                  }"
                  formControlName="email"
                  name="email"
                  id="email"
                  class="form-control"
                  placeholder="Enter email"
                />
                <div
                  *ngIf="submitted && position['email']?.errors"
                  class="invalid-feedback"
                >
                  <mat-error *ngIf="position['email']?.hasError('required')"
                    >Email is required</mat-error
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6" *ngIf="!this.id">
              <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input
                  type="password"
                  [ngClass]="{
                    'is-invalid': submitted && position['password'].errors
                  }"
                  formControlName="password"
                  name="password"
                  id="password"
                  class="form-control"
                  placeholder="Enter password"
                />
                <div
                  *ngIf="submitted && position['password']?.errors"
                  class="invalid-feedback"
                >
                  <mat-error *ngIf="position['password']?.hasError('required')"
                    >Password is required</mat-error
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Telefono</label>
                <input
                  prefix="+"
                  mask="(000) 0000-0000"
                  [showMaskTyped]="true"
                  [ngClass]="{
                    'is-invalid': submitted && position['phone_number'].errors
                  }"
                  formControlName="phone_number"
                  name="phone_number"
                  id="phone_number"
                  class="form-control"
                  placeholder="Enter Phone number"
                />
                <div
                  *ngIf="submitted && position['phone_number']?.errors"
                  class="invalid-feedback"
                >
                  <mat-error
                    *ngIf="position['phone_number']?.hasError('required')"
                    >Password is required</mat-error
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Idioma</label>
                <ng-select
                  [items]="language"
                  bindLabel="language_name"
                  bindValue="language_id"
                  class="data-ng-select"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="type to search"
                  [(ngModel)]="selectedSearchLanguageId"
                >
                </ng-select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Rol</label>
                <ng-select
                  [items]="role"
                  bindLabel="rol_rol"
                  bindValue="rol_id"
                  class="data-ng-select"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="type to search"
                  [(ngModel)]="selectedSearchRolId"
                >
                </ng-select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Estado</label>
                <select
                  id="status"
                  name="status"
                  (ngModelChange)="getStatus($event)"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="selectedStatus"
                  [ngClass]="{
                    'is-invalid': submitted && position['status'].errors
                  }"
                  class="form-control"
                >
                  <option
                    *ngFor="let status of this.status"
                    [value]="status.id"
                  >
                    {{ status.name }}
                  </option>
                </select>
                <div
                  *ngIf="submitted && position['status']?.errors"
                  class="invalid-feedback"
                >
                  <mat-error *ngIf="position['status']?.hasError('required')"
                    >Status is required</mat-error
                  >
                </div>
              </div>
            </div>

            <!--<div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">User image</label>
                        <div class="dropzone custom-dropzone" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
                    </div>
                  </div> -->

            <div class="col-md-6 mt-4 fv-plugins-icon-container">
              <label for="formValidationFile" class="form-label"
                >Imagen de perfil</label
              >
              <div class="user text-center" id="col-img">
                <div class="profile">
                  <div class="row">
                    <div class="col-md-6">
                      <img [src]="url" />
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <div
                          class="custom-file"
                          class="btn btn-default button-rounded-36 float-bottom-right img-data"
                        >
                          <input
                            (change)="onFileSelect($event)"
                            class="form-control custom-file-input cursor-pointer"
                            id="attachment"
                            name="attachment"
                            type="file"
                            id="formFile"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            [disabled]="!form.valid"
            (click)="onSubmit()"
            type="submit"
            class="btn btn-primary submit"
          >
            {{ this.title }} <i class="mdi mdi-file-document-edit"></i>
          </button>
          <button id="_btn-back" routerLink="/users/view" type="submit" name="submitButton" class="btn">
            Regresar <i class="mdi mdi-arrow-left"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
